* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-size: 16px;
    line-height: 14px;
}

a {
    text-decoration: none;
}

.main {
    width: 1200px;
    margin:0 auto;
}

@media screen and (max-width: 1200px) {
    .main{
        width: 90%;
    }
}

/* logo dan nav */
.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    /* padding: 20px 200px 20px 200px; */
    /* background-color: #363062; */
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 48px;
    color: #363062;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
}

.logo a{
    color: #000000;
}

nav ul li{
    display: flex;
    align-items: center;
}

nav ul li a{
    color: #000000;
}

/* button */
.btn {
    color: #000000;
    padding: 16px 24px;
    background: #ffffff;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 10%;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn:hover{
    box-shadow: rgba(255, 255, 255, 0.04) 0px 3px 5px;
}

/* burger */
.burger div{
    width:25px;
    height: 2px;
    background-color: black;
    margin: 7px;
    transition: all .3s;
    z-index: 99;
}
   
.burger{
    z-index: 99;
    top: 33px;
    right: 35px;
}

/* Character */
#Charac {
    /* padding: 0px 200px 0px 200px; */
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.Charac-name{
    font-size: 48px;
    font-weight: 700;
    margin: 8px 0 16px;
}

.Charac-name span{
    color: #F99417;
}

.Charac-right{
    display: flex;
    justify-content: center;
}

.Charac-right img{
    border-radius: 20%;
    width: 60%;
    height: 60%;
}

/* Titles */
.pre-title{
    text-transform: uppercase;
    letter-spacing: 8px;
    color: grey;
    position: relative;
    padding-top: 100px;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 14px;
}

.pre-title::before{
    content: "";
    width: 30px;
    height: 1px;
    position: absolute;
    left:0;
    top:50%;
}

.section-title {
    margin: 16px 0 64px;
    font-size: 32px;
}

/* Layoutss */
.grid-3 {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;  */
    /* use this first, use code below when its time for explaining responsive design part */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
  }

/* Portofolio Section */

#portfolios {
    padding: 5px;
    border-radius: 5%;
    overflow: hidden;
    border: 1px solid rgb(255, 255, 255);
}

.portfolio-cover {
    height: 200px;
}

.portfolio-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-info {
    padding: 32px 24px;
}

.portfolio-link{
    width: 10%;
    height: 10%;

}

.portfolio-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.portfolio h4{
    font-weight: 500;
    font-size: 24px;
}

.portfolio-tags {
    display: flex;
    gap: 16px;
    margin: 16px 0;
}

.portfolio-tags div{
    font-size: 15px;
    border: 1px solid #4D4C7D;
    padding: 6px 16px;
    border-radius: 10%;
    color:grey;
}

/* skills */

#Skill {
    background: rgb(255, 253, 253);
}

.Skills-grid {
    display: flex;
    gap: 300px;
}

.Education {
    display: flex;
    padding-left: 48px;
    gap: 32px;
}

.line{
    padding: 12px;
}

.line div{
    width: 2px;
    height: 100%;
    background-color: rgb(177, 177, 177);
    position: relative;
}

.Education-info p{
    margin: 20px 33px;
    color: grey;
}

.educationyears {
    margin-bottom: 48px;
}

.Education .line div::before{
    content :"";
    width: 15px;
    height: 15px;
    background-color: #4D4C7D;
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skillslist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 24px;
}


.skillslist li{
    list-style-type: none;
    border: 1px solid grey;
    gap: 16px;
    margin: 16px 200px 0px 0px;
    border-radius: 10%;
    text-align: center;
}

.Skillsright{
    line-height: 32px;
    padding: 0 16px;
}

/* Footer */

footer{
    background-color: #363062;
    color: white;
    padding: 20px 100px;
}

.contactlist{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
    align-items: start;
}

.contactlist li{
    list-style-type: none;
    display: flex;
    background-color: #4D4C7D;
    border: 1px solid grey;
    padding: 15px;
    border-radius: 5%;
    margin-bottom: 20px;
}

.contactlist p {
    padding-top: 20px;
    padding-left: 20px;
}

.Telepon {
    padding-left: 8px;
}

/* Organization */
#Organization{
    background: rgb(255, 253, 253);
}

.organizationinfo{
    padding-left: 20px;
}

.organizationyear{
    color: grey;
    padding: 16px 0px 16px 16px;
}

.organizationjob{
    padding-bottom: 16px;
    padding-left: 16px;
}

.organizationlist{
    padding-left: 48px;
}

.organizationlist li{
    column-count: 2;
    padding-bottom: 20px;
    gap: 200px;
}

.organizationlist img{
width: 100%;
height: 100%;
border-radius: 5%;
}

