@media screen and (max-width: 1000px){
    p{
        font-size:  14px;
        line-height: 22px;
    }

    .grid-3{
        gap: 16px;
    }

    .skillsright ul li{
        font-size: 14px;
    }

    .Skills-grid {
        gap: 100px;
    }

    .burger{
        position: fixed;
    }
}

@media screen and (max-width: 825px) {
    /* Burger */
    .burger{
        display: block;
        cursor: pointer;
    }

    .toggle-burger .line-1{
        transform: rotate(-45deg) translate(-5px, 7px);
    }

    .toggle-burger .line-2{
        opacity: 0;
    }

    .toggle-burger .line-3{
        transform: rotate(45deg) translate(-5px,-7px);
    }
    /* nav */
    nav {
        position: fixed;
        width: 50%;
        right:  0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background-color: white;
        border-left: 1px solid grey;
        z-index: 9;
        transform: translateX(100%);
    }

    nav ul{
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    }

    .nav-active {
        transform: translateX(0%);
        transition:  0.2s ease-in-out;
    }

    .section-title{
        font-size: 24px;
        margin: 10px 0 40px;
    }

    .pre-title{
        font-size: 14px;
    }

    #Charac {
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .Charac-right{
        order:-1;
    }

    .Charac-left{
        text-align: center;
        padding-bottom: 80px;
    }

    .Charac-left .pre-title{
        margin: 0 auto;
    }

     .Charac-name{
        font-size: 35px;
        margin-bottom: 8px;
     }

     /* Skills */

     .Skills-grid{
        gap: 16px;
     }

     #Contact p{
        font-size: 14px;
     }

     .contactlist li{
        margin-bottom: 20px;
        padding: 3px;
     }

     .contactlist img{
        width: 20%;
        height: 20%;

     }
}
@media screen and (max-width: 640px) {
    
}